%form#form
  %fieldset
    %input#name{type: "text", autocomplete: "off", placeholder: "お名前"}
  %fieldset
    %textarea#message{placeholder: "こんにちは！"}
  %fieldset#send-button
    %input{type: "submit", value: "しゃべる"}
#chat
